body{
    background-color: black;
}
@font-face{
    font-family: first-font;
    src: url(./fonts/BlackOpsOne-Regular.ttf)
}
@font-face{
    font-family: second-font;
    src: url(./fonts/Griffy-Regular.ttf)
}
header{
    background-image: url(./images/gradient-2.avif);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 100vh;
}
.welcome{
    font-size: 11rem;
    color: rgb(114, 87, 97);
}
.to{
    font-size: 6rem;
    color: rgb(98, 75, 83);
}
.companyname{
    font-size: 12rem;
    font-family: first-font, san-serif;
    color: rgb(74, 55, 62);
}
.headerbox1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.companycontent{
    font-size: 2.3rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.divein{
    padding: 11px 70px;
    border-radius: 20px;
    font-size: xx-large;
    font-family: first-font;
    background-image: url(./images/gradient-2.avif);
}
a{
    text-decoration: none;
    color: black;
}
a.instname{
    color: pink;
}
a:hover{
    color: rgb(255, 16, 240);
}
main{
    color: white;
}
.box1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects1{
    width: 80vw;
    border-left: 8px solid plum;
    display: flex;
    height: 240px;
    margin-bottom: 10rem;
}
.projects2{
    width: 80vw;
    border-left: 8px solid pink;
    display: flex;
    height: 240px;
    margin-bottom: 10rem;
}
.project-textcontent{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
.project-name1{
    font-size: 2.3rem;
    font-weight: bold;
    color: violet;
}
.project-name2{
    font-size: 2.3rem;
    font-weight: bold;
    color: palevioletred;
}
.project-text{
    font-size: 1.5rem;
    margin-left: 15px;
}
.project-view{
    padding: 10px 40px;
    border-radius: 20px;
    font-size: large;
    font-family: second-font;
    font-weight: bolder;
    margin-top: -1rem;
    background-image: url(./images/gradient-2.avif);

}

.project-image{
    width: 30%;
    right: 0px;

}
.heading1,.heading2{
    font-size: 7rem;
    color: pink;
    font-family: first-font;
    margin-top: 5rem;
    margin-bottom:8rem;
    text-align: center;
}
div.heading2{
    margin-bottom: 3rem;
}
.box2{
    display: flex;
    flex-direction: column;
    background-image: url(./images/black7.avif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    
}
.aboutmebox{
    display: flex;
    margin-left: 5rem;
    gap: 5rem;
    
}
.myname{
    font-size: 4rem;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    text-align: center;
}
.shortintro{
    font-size: xx-large;
    margin-top: 1rem;
}
.shortintro1{
    font-size: xx-large;
    text-align: center;
    margin-bottom: 1.5rem;
}
.educationbox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.myinformation{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
   
}

.eduheading{
    font-size: 3rem;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
.college{
    display: flex;
    gap: 18px;
    align-items: center;
    margin-bottom: 1rem;
}
.davvlogo{
    width: 50px
}
.collegetext{
    font-size: x-large;
}
.mediabox{
    display: flex;
    justify-content: space-evenly;
    
}
.socialname{
    font-size: 3rem;
    text-align: center;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    margin-bottom: 1.5rem;

}

.socialicons{
    width: 70px
}
.photosection{
    width: 30vw;
    height: 60vh;
    margin-top: 5rem;

}